## 1. Import libraries and data

In [1]:
import pandas as pd
import numpy as np

merged = pd.read_csv("./data/exported/merged.csv")
score = pd.read_csv("./data/score.csv")

## 2. Merge the merged df with score.csv

> we need to do this, so we can see which applicant_id matches with which applicant

Checking if shapes are same length

In [2]:
print(merged.shape)
print(score.shape)

(500, 5)
(500, 50)

In [3]:
score.head(3)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,...,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,...,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361,NaN,NaN

In [4]:
merged.head(3)

,applicant_id,predicted_damage_amount,predicted_damage_incident,predicted_revenue,predicted_profit
0,0,0.000,0,2006.474841,2006.474841
1,1,0.000,0,2115.739438,2115.739438
2,2,328.836,1,95.451656,-233.384344

In every model's notebook we do this code ...

``` python
applicants_data["predicted_XXX"] = XXX
applicants_data["applicant_id"] = applicants_data.index
```

... Which means the applicant_id is the same as the index. So we can just merge on index

In [5]:
merged_with_score = pd.merge(merged, score, left_index=True, right_index=True, how="left")

### **Testing if it merged correctly**

In [6]:
merged_check = merged_with_score[["income_am", "profit_am", "applicant_id", "predicted_profit"]]
merged_check

     income_am  profit_am  applicant_id  predicted_profit
0       5660.0     8640.0             0       2006.474841
1       3990.0     3450.0             1       2115.739438
2       1158.0     4194.0             2       -233.384344
3       2451.0     2119.0             3       1594.570450
4        946.0     2036.0             4       1470.689027
..         ...        ...           ...               ...
495      820.0     7794.0           495       2706.903545
496     6092.0     3137.0           496       2477.268876
497     2301.0     2516.0           497       1890.432834
498      492.0     3716.0           498       2117.525376
499      266.0     1769.0           499       1426.975901

[500 rows x 4 columns]

APPLICANT 100

In [7]:
merged.iloc[100]

applicant_id                  100.000000
predicted_damage_amount         0.000000
predicted_damage_incident       0.000000
predicted_revenue            5400.725472
predicted_profit             5400.725472
Name: 100, dtype: float64

In [8]:
score.iloc[100][["income_am", "profit_am"]]

income_am    122993.0
profit_am     42142.0
Name: 100, dtype: object

In [9]:
merged_check.iloc[100]

income_am           122993.000000
profit_am            42142.000000
applicant_id           100.000000
predicted_profit      5400.725472
Name: 100, dtype: float64

## 3. Get the 150 guests with the highest predicted profit

In [10]:
highest_profit = merged_with_score \
    .sort_values(by="predicted_profit", ascending=False) \
    .head(200)

highest_profit_unsorted = highest_profit \
    .sort_values(by="applicant_id", ascending=True)

highest_profit_unsorted.head(40)

,applicant_id,predicted_damage_amount,predicted_damage_incident,predicted_revenue,predicted_profit,income_am,profit_last_am,profit_am,damage_am,damage_inc,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,0,0.000,0,2006.474841,2006.474841,5660.0,4320.0,8640.0,0.0,0.0,...,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.000,0,2115.739438,2115.739438,3990.0,9.0,3450.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,112.164,1,2097.122193,1984.958193,2591.0,869.0,2209.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.580498,0.585224,NaN,NaN,0.097950,5.282090
8,8,0.000,0,3029.583549,3029.583549,6426.0,2018.0,9015.0,2333.0,2.0,...,NaN,NaN,NaN,NaN,0.576605,0.277479,NaN,NaN,NaN,NaN
15,15,0.000,0,2099.704475,2099.704475,1190.0,325.0,6688.0,1676.0,2.0,...,NaN,NaN,NaN,NaN,0.245555,0.164753,0.165831,0.097346,NaN,NaN
19,19,0.000,0,1938.393301,1938.393301,227.0,0.0,1620.0,0.0,0.0,...,0.971386,0.679476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,0.000,0,1924.944795,1924.944795,2093.0,681.0,2458.0,1219.0,4.0,...,NaN,NaN,NaN,NaN,0.061794,0.359742,NaN,NaN,0.330059,6.956439
24,24,0.000,0,1974.962854,1974.962854,227.0,0.0,1632.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,0.000,0,3057.184808,3057.184808,10406.0,645.0,21633.0,0.0,0.0,...,0.293698,0.064613,0.428241,0.649497,0.402736,0.300693,NaN,NaN,NaN,NaN
26,26,0.000,0,1951.803386,1951.803386,1343.0,374.0,1816.0,0.0,0.0,...,NaN,NaN,0.160819,0.251773,NaN,NaN,NaN,NaN,NaN,NaN
31,31,0.000,0,2494.216387,2494.216387,14556.0,3440.0,4013.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.700267,0.399948,NaN,NaN,NaN,NaN
43,43,0.000,0,1984.158018,1984.158018,227.0,0.0,1665.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051866,2.907913
45,45,0.000,0,3725.528065,3725.528065,41694.0,8178.0,21818.0,236.0,2.0,...,NaN,NaN,NaN,NaN,0.847470,0.847966,0.638914,0.659615,NaN,NaN
48,48,0.000,0,3393.590559,3393.590559,23268.0,543.0,20942.0,0.0,0.0,...,0.355430,0.559121,NaN,NaN,0.317268,0.267638,NaN,NaN,NaN,NaN
50,50,0.000,0,2087.680965,2087.680965,227.0,0.0,1620.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.799380,0.819019,NaN,NaN,NaN,NaN
52,52,0.000,0,1937.315656,1937.315656,227.0,810.0,1620.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,53,0.000,0,2377.379107,2377.379107,946.0,153.0,16384.0,870.0,1.0,...,NaN,NaN,NaN,NaN,0.389001,0.878151,NaN,NaN,0.512799,2.508761
54,54,0.000,0,1901.996804,1901.996804,229.0,0.0,1630.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,55,0.000,0,1902.458466,1902.458466,3913.0,1463.0,2357.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.024837,1.333527
58,58,0.000,0,2746.641848,2746.641848,16341.0,3162.0,15016.0,643.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.703774,0.923812,0.348471,4.227190
62,62,0.000,0,2155.900232,2155.900232,4569.0,1825.0,2334.0,0.0,0.0,...,NaN,NaN,0.815143,0.471472,NaN,NaN,0.783402,0.501700,0.991246,3.419211
64,64,0.000,0,2232.086682,2232.086682,6860.0,3305.0,3305.0,0.0,0.0,...,NaN,NaN,0.836953,0.639777,NaN,NaN,NaN,NaN,NaN,NaN
66,66,0.000,0,2071.093810,2071.093810,274.0,0.0,1660.0,0.0,0.0,...,0.865972,0.685618,NaN,NaN,0.202156,0.198583,NaN,NaN,NaN,NaN
67,67,0.000,0,2067.684755,2067.684755,1665.0,603.0,1942.0,0.0,0.0,...,NaN,NaN,0.332877,0.440184,NaN,NaN,NaN,NaN,NaN,NaN
68,68,0.000,0,2162.382073,2162.382073,912.0,100.0,2181.0,0.0,0.0,...,0.902959,0.841123,NaN,NaN,NaN,NaN,NaN,NaN,0.810077,5.682054
69,69,0.000,0,1915.597814,1915.597814,2075.0,776.0,1927.0,0.0,0.0,...,0.595660,0.961475,NaN,NaN,NaN,NaN,NaN,NaN,0.455076,0.684981
71,71,0.000,0,2307.074569,2307.074569,227.0,810.0,1620.0,0.0,0.0,...,NaN,0.218739,NaN,NaN,NaN,0.306384,NaN,NaN,NaN,NaN
72,72,0.000,0,2019.995098,2019.995098,227.0,0.0,1620.0,0.0,0.0,...,NaN,NaN,NaN,0.323373,NaN,0.557084,NaN,0.121167,NaN,NaN
74,74,0.000,0,2976.985926,2976.985926,15186.0,3897.0,10953.0,0.0,0.0,...,0.448905,0.406550,0.118693,0.365167,NaN,NaN,NaN,NaN,0.027717,7.602035
75,75,0.000,0,2355.551913,2355.551913,227.0,0.0,2282.0,1539.0,2.0,...,NaN,NaN,0.464301,0.952790,0.162525,0.483748,NaN,NaN,NaN,NaN
77,77,0.000,0,2296.282355,2296.282355,5356.0,794.0,6251.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,78,0.000,0,3082.450125,3082.450125,3626.0,284.0,7375.0,0.0,2.0,...,NaN,NaN,0.613867,0.430497,NaN,NaN,0.476067,0.776693,NaN,NaN
79,79,0.000,0,1962.542566,1962.542566,227.0,0.0,1620.0,0.0,0.0,...,NaN,0.528099,NaN,0.872028,NaN,0.022573,NaN,0.585432,NaN,NaN
81,81,0.000,0,4117.305593,4117.305593,18234.0,949.0,30101.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.168685,0.221852,NaN,NaN,0.517250,5.191628
84,84,0.000,0,3320.704481,3320.704481,6855.0,1664.0,8205.0,1634.0,7.0,...,NaN,NaN,0.024033,0.812959,0.038113,0.764090,NaN,NaN,NaN,NaN
85,85,0.000,0,3418.399052,3418.399052,228.0,0.0,14103.0,3343.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,90,0.000,0,1995.135210,1995.135210,242.0,915.0,1830.0,52.0,2.0,...,NaN,NaN,0.074346,0.405402,NaN,NaN,NaN,NaN,NaN,NaN
91,91,0.000,0,2034.833850,2034.833850,227.0,810.0,1620.0,0.0,0.0,...,NaN,NaN,0.446269,0.449241,NaN,NaN,NaN,NaN,NaN,NaN
94,94,0.000,0,1981.089313,1981.089313,640.0,0.0,1777.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.539991,0.458421,NaN,NaN,NaN,NaN
96,96,0.000,0,2707.627029,2707.627029,5565.0,5516.5,11033.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.955007,0.325406,0.284070,5.777863

In [11]:
final_list = highest_profit_unsorted[[
    "applicant_id",
    "predicted_damage_amount",
    "predicted_damage_incident",
    "predicted_revenue",
    "predicted_profit"
]]

final_list_with_matching_row_number = final_list.copy()
final_list_with_matching_row_number["applicant_id"] += 2

In [12]:
final_list.to_csv("./guestlist/guestlist.csv", index=False)
final_list_with_matching_row_number.to_csv("./guestlist/guestlist_with_matching_row_number.csv", index=False)

## **! The applicant_id and index do not match the original row_number in the scores.csv**

They are 2 off, for some reason, e.g. applicant 100 in `highest_profit_unsorted` is actually row 102 in `scores.csv` 

You can tell because the `income_am` of row 102 in `scores.csv` is 122993.0
and in `score` the `income_am` of 100 is 122993.0

In [13]:
# this is row 102 in `scores.csv`
score.iloc[100]["income_am"]

122993.0

![screenshot that shows that index is off by 2](./public/screenshot.png)

### **HOWEVER**

It doesn't really matter.

If you are going by which row number in scores.csv got approved, then you can just subtract 2


If row 3 (with `income_am` of 3990.0) should have been approved, then now it's actually application_id 1

#### **Here are, according to my models, which 200 applicants should be approved**

In [14]:
result = final_list.index.to_numpy()

# np.savetxt("./guestlist/rows/result.csv", result, delimiter=",", fmt="%d")

result

array([  0,   1,   7,   8,  15,  19,  21,  24,  25,  26,  31,  43,  45,
        48,  50,  52,  53,  54,  55,  58,  62,  64,  66,  67,  68,  69,
        71,  72,  74,  75,  77,  78,  79,  81,  84,  85,  90,  91,  94,
        96,  98, 100, 102, 103, 104, 105, 117, 119, 121, 122, 124, 126,
       132, 140, 142, 146, 147, 149, 150, 152, 153, 154, 155, 158, 160,
       162, 163, 170, 171, 172, 174, 175, 176, 178, 179, 182, 183, 184,
       190, 191, 192, 193, 196, 197, 198, 199, 201, 202, 205, 208, 209,
       210, 217, 221, 222, 223, 230, 236, 237, 240, 245, 246, 251, 252,
       253, 254, 256, 259, 260, 261, 262, 264, 265, 267, 270, 274, 277,
       280, 282, 284, 288, 291, 292, 295, 299, 303, 304, 306, 307, 308,
       315, 317, 323, 326, 327, 328, 329, 334, 335, 338, 341, 342, 343,
       349, 350, 353, 354, 357, 358, 361, 371, 373, 379, 388, 391, 393,
       394, 398, 400, 401, 402, 404, 405, 407, 410, 414, 424, 426, 431,
       433, 436, 437, 439, 443, 448, 449, 450, 451, 453, 455, 456, 458,
       459, 460, 463, 464, 465, 472, 473, 475, 476, 481, 483, 484, 490,
       491, 494, 495, 496, 498], dtype=int64)

#### **And here they are, with the number matching the row number from `scores.csv`**

In [15]:
result_with_matching_row_number = np.add(final_list.index.to_numpy(), 2)

# np.savetxt("./guestlist/rows/result_with_matching_row_number.csv", result_with_matching_row_number, delimiter=",", fmt="%d")

result_with_matching_row_number

array([  2,   3,   9,  10,  17,  21,  23,  26,  27,  28,  33,  45,  47,
        50,  52,  54,  55,  56,  57,  60,  64,  66,  68,  69,  70,  71,
        73,  74,  76,  77,  79,  80,  81,  83,  86,  87,  92,  93,  96,
        98, 100, 102, 104, 105, 106, 107, 119, 121, 123, 124, 126, 128,
       134, 142, 144, 148, 149, 151, 152, 154, 155, 156, 157, 160, 162,
       164, 165, 172, 173, 174, 176, 177, 178, 180, 181, 184, 185, 186,
       192, 193, 194, 195, 198, 199, 200, 201, 203, 204, 207, 210, 211,
       212, 219, 223, 224, 225, 232, 238, 239, 242, 247, 248, 253, 254,
       255, 256, 258, 261, 262, 263, 264, 266, 267, 269, 272, 276, 279,
       282, 284, 286, 290, 293, 294, 297, 301, 305, 306, 308, 309, 310,
       317, 319, 325, 328, 329, 330, 331, 336, 337, 340, 343, 344, 345,
       351, 352, 355, 356, 359, 360, 363, 373, 375, 381, 390, 393, 395,
       396, 400, 402, 403, 404, 406, 407, 409, 412, 416, 426, 428, 433,
       435, 438, 439, 441, 445, 450, 451, 452, 453, 455, 457, 458, 460,
       461, 462, 465, 466, 467, 474, 475, 477, 478, 483, 485, 486, 492,
       493, 496, 497, 498, 500], dtype=int64)

Example:

applicant_id 1 became row 3: the guest with `income_am` of 3990.0

#### **The list of accepted applicants, with the other metrics (the deliverable), can be found in**

`/guestlist/result.csv` and `/guestlist/result_with_matching_row_numbers`